/*
+
*  by Moritz Weis
*
*/

body {

    text-align: center;
    font-family: monospace;
    margin: 0;
    color: black;

}

.light {
    background: white;
}
.dark {
    background: whitesmoke;
}

.full {
    width: 100%;
    height: 100vh;
    margin: 0;
}
.heavy{
    font-size: xxx-large;
}
.small{
    font-size: small;
}

#top {
    width: 100%;
    height: 10%;
    padding: 15px;
}
#main {
    width: 100%;
    height: 80%;
}
#bottom{
    width: 100%;
    height: 20%;
    padding: 10px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
#position{

    padding: 20px;
}
#map {
    height: 500px;
    width: 100%;
    background: antiquewhite;
}